<a href="https://colab.research.google.com/github/israelruiz2005/python/blob/main/ETL_projeto_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extração dos dados

In [1]:
!pip install pandera # instala a biblioteca

Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 3.2 MB/s
Collecting pydantic
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 5.2 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pydantic, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 pydantic-1.9.0 typing-inspect-0.7.1

In [26]:
import pandas as pd
import pandera as pa # para validar datas

## Importa a base de dados já convertendo os campos do tipo data

In [42]:
valores_ausentes = ['**','***','****','*****','###!','####','NULL'] #fase transformação

In [43]:
df = pd.read_csv("/content/ocorrencia-alterada.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0

In [44]:
schema = pa.DataFrameSchema (
    columns= {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),	
        "ocorrencia_cidade":pa.Column(pa.String),	
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),	
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    }
)

In [45]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

### Pesquisa os tipos de dados do dataframe

In [46]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

### Transforma uma coluna apenas apresentando o mês

In [47]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5162    12
5163    12
5164    12
5165    12
5166    12
Name: ocorrencia_dia, Length: 5167, dtype: int64

## Validadação de dados

Foi alterado no dataframe o parametro para tratar a data


*   dayfirst = True - convertendo o primeiro campo em dia e não mês.
*   Schema com padera - foi criada função para validação dos dados.

# Limpeza de dados

In [48]:
df.set_index('codigo_ocorrencia', inplace=True)

In [49]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0

## Limpezas a realizar


*   ocorrencia_uf -> **
*   ocorrencia_aerodromo -> ###!, ####, **** e *****
*   ocorrencia_hora -> NULL

In [22]:
# df.replace(['**','***','****','###!','####','NULL'], pd.NA, inplace=True)

In [50]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0

In [51]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

# Trasnformação

Altera a leitura dos dados acrecentando a limpeza dos dados

In [52]:
# filtrando
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0
79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,NaN,2021-02-26,11:00:00,0

In [53]:
filtro = df.ocorrencia_aerodromo.isnull()
df.loc[filtro]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
...,...,...,...,...,...,...,...,...
80446,80446,ACIDENTE,JACAREACANGA,PA,NaN,2021-12-20,17:10:00,0
80450,80450,ACIDENTE,DOURADOS,MS,NaN,2021-12-28,10:30:00,0
80455,80455,INCIDENTE GRAVE,SANTA RITA,PB,NaN,2021-12-29,18:50:00,0
80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0
80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0

In [54]:
df.count()

codigo_ocorrencia2          5167
ocorrencia_classificacao    5167
ocorrencia_cidade           5167
ocorrencia_uf               5165
ocorrencia_aerodromo        3262
ocorrencia_dia              5167
ocorrencia_hora             5166
total_recomendacoes         5167
dtype: int64

In [58]:
# ocorrencias com mais de 10 recomendaçoes
filtro= df.total_recomendacoes >10
df.loc[filtro,['ocorrencia_cidade','total_recomendacoes']]

                  ocorrencia_cidade  total_recomendacoes
codigo_ocorrencia
47938                      BRASÍLIA                   11
52265                        SANTOS                   13
66432                       VITÓRIA                   12

In [59]:
# ocorrencias com classificaçao == INCIDENTE GRAVE
filtro= df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro,['ocorrencia_cidade','total_recomendacoes']]

                     ocorrencia_cidade  total_recomendacoes
codigo_ocorrencia
50713                         CAMPINAS                    0
45396                           MARABÁ                    0
50714                          CAMOCIM                    0
45399                            MUANÁ                    0
45582                     RONDONÓPOLIS                    0
...                                ...                  ...
80427                NOVA BANDEIRANTES                    0
80448              FORMOSO DO ARAGUAIA                    0
80454                        ARAÇATUBA                    0
80455                       SANTA RITA                    0
80457                    NOVO HAMBURGO                    0

[691 rows x 2 columns]

In [60]:
# ocorrencias com classificaçao == INCIDENTE GRAVE  e ocorrencia_uf == 'SP' e & ou |
filtro1= df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2,['ocorrencia_cidade','total_recomendacoes']]

                   ocorrencia_cidade  total_recomendacoes
codigo_ocorrencia
50713                       CAMPINAS                    0
45598              BRAGANÇA PAULISTA                    0
45653                      GUARULHOS                    0
45599              BRAGANÇA PAULISTA                    0
45651                            ITU                    1
...                              ...                  ...
80200              BRAGANÇA PAULISTA                    0
80238                    VOTUPORANGA                    0
80265                      SÃO PAULO                    0
80382                     PIRACICABA                    0
80454                      ARAÇATUBA                    0

[132 rows x 2 columns]

In [62]:
# ocorrencias com classificaçao == INCIDENTE GRAVE  ou INCIDENTE e ocorrencia_uf == 'SP' e & ou |
filtro1= (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2,['ocorrencia_cidade','total_recomendacoes','ocorrencia_classificacao']]

,ocorrencia_cidade,total_recomendacoes,ocorrencia_classificacao
codigo_ocorrencia,,,
52243,UBATUBA,0,INCIDENTE
50713,CAMPINAS,0,INCIDENTE GRAVE
52248,SÃO PAULO,0,INCIDENTE
52054,SÃO PAULO,0,INCIDENTE
52055,RIBEIRÃO PRETO,0,INCIDENTE
...,...,...,...
80425,SÃO PAULO,0,INCIDENTE
80431,SANTOS,0,INCIDENTE
80453,CAMPINAS,0,INCIDENTE
80454,ARAÇATUBA,0,INCIDENTE GRAVE
80456,SÃO PAULO,0,INCIDENTE

In [63]:
# ocorrencias com classificaçao == INCIDENTE GRAVE  ou INCIDENTE e ocorrencia_uf == 'SP' e & ou |
filtro1= df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2,['ocorrencia_cidade','total_recomendacoes','ocorrencia_classificacao']]

,ocorrencia_cidade,total_recomendacoes,ocorrencia_classificacao
codigo_ocorrencia,,,
52243,UBATUBA,0,INCIDENTE
50713,CAMPINAS,0,INCIDENTE GRAVE
52248,SÃO PAULO,0,INCIDENTE
52054,SÃO PAULO,0,INCIDENTE
52055,RIBEIRÃO PRETO,0,INCIDENTE
...,...,...,...
80425,SÃO PAULO,0,INCIDENTE
80431,SANTOS,0,INCIDENTE
80453,CAMPINAS,0,INCIDENTE
80454,ARAÇATUBA,0,INCIDENTE GRAVE
80456,SÃO PAULO,0,INCIDENTE